aiohappyeyeballs==2.6.2
aiohttp==3.13.5
aiosignal==1.4.0
altgraph==0.17.5
attrs==26.1.0
certifi==2026.5.20
customtkinter==5.2.2
darkdetect==0.8.0
edge-tts==7.2.8
frozenlist==1.8.0
idna==3.16
multidict==6.7.1
nest-asyncio==1.6.0
packaging==26.2
propcache==0.5.2
pyinstaller==6.20.0
pyinstaller-hooks-contrib==2026.5
setuptools==82.0.1
tabulate==0.10.0
typing_extensions==4.15.0
yarl==1.24.2
